<div id="timesheet-container" class="container">
    <div ng-controller="addTimesheetCtrl">
        <form novalidate>
            <div class="form-group">
                <label for="company">Company</label>
                <input type="text" id="company" class="form-control" ng-model="timesheet.company" /><br />
            </div>
            <div class="form-group">
                <label for="consultant">Consultant</label>
                <input type="text" id="consultant" class="form-control" ng-model="timesheet.consultant" /><br />
            </div>
            <div class="form-group">
                <label for="consultant">File</label>
                <input type="text" id="file" class="form-control" ng-model="timesheet.file" /><br />
            </div>
            <div class="form-group">
                <label for="consultant">Status</label>
                <input type="text" id="status" class="form-control" ng-model="timesheet.status" /><br />
            </div>
            <div class="form-group">
                <label for="consultant">Date</label>
                <input type="text" id="date" class="form-control" ng-model="timesheet.date" /><br />
            </div>
            <input type="submit" class="btn btn-primary" ng-click="addTimesheet(timesheet)" value="Save" />
        </form>
    </div>
</div>